<div layout="column" ng-controller="mainCtrl">
	<div>
		<md-content md-theme="docs-dark" layout-padding layout="row" layout-sm="column">
			<md-input-container>
				<label>Name</label>
				<input ng-model="userName" ng-model-options="{ debounce: 600 }">
			</md-input-container>
		</md-content>
	</div>

	<div layout="row">
		<!-- Upload -->
		<div flex>
			<h1 class="md-toolbar-tools" layout-align-gt-sm="center">Upload</h1>
			<input type="file" custom-on-change="upload" multiple>
			<md-progress-circular md-mode="indeterminate" ng-show="isLoading.upload"></md-progress-circular>

			<md-content>
				<md-list>
					<md-list-item class="md-3-line" ng-repeat="torrent in torrents.upload">
						<div class="md-list-item-text">
							<h3>{{ torrent.name }}</h3>
							<h4>{{ torrent.infoHash }}</h4>
						</div>
					</md-list-item>
				</md-list>
			</md-content>

		</div>

		<!-- Download -->
		<div flex>

			<h1 class="md-toolbar-tools" layout-align-gt-sm="center">Download</h1>
			<md-content>
			  <md-list>
			    <md-subheader class="md-no-sticky">Available torrents</md-subheader>
			    <md-list-item class="md-3-line" ng-repeat="user in users">
			      <div class="md-list-item-text">
			        <h3>{{ user.name }}</h3>
			        <p ng-show="torrent.progress == 100">
			        	<ul>
			        		<li ng-repeat="file in user.uploads">
			        			<a ng-click="download(file.infoHash)" ng-bind="file.name"></a>
			        		</li>
			        	</ul>
			        </p>
			      </div>
			    </md-list-item>
			  </md-list>
			</md-content>

			<md-content>
			  <md-list>
			  	<md-subheader class="md-no-sticky">Downloading torrents</md-subheader>
			    <md-list-item class="md-3-line" ng-repeat="torrent in torrents.download">
			      <md-progress-circular md-mode="determinate" value="{{torrent.progress}}"></md-progress-circular>
			      <div class="md-list-item-text">
			        <h3>{{ torrent.name }}</h3>
			        <h4>{{ torrent.infoHash }}</h4>
			        <p ng-show="torrent.progress == 100">
			        	<ul>
			        		<li ng-repeat="file in torrent.files">
			        			<a target="_blank" download="{{file.name}}" ng-href="{{file.url}}" ng-bind="file.name"></a>
			        		</li>
			        	</ul>
			        </p>
			      </div>
			    </md-list-item>
			  </md-list>
			</md-content>

		</div>
	</div>
</div>
