<div ng-controller="downloadCtrl">
	<div ng-show="hasAnyUserTorrents()">
		<md-subheader>Available files</md-subheader>
		<div ng-repeat="(userId, user) in users" ng-show="hasUserTorrents(user)">
			<ul>
				<li
					ng-repeat="torrent in user.torrents"
					ng-click="download(torrent.infoHash, torrent.name)"
					ng-bind="torrent.name">
				</li>
			</ul>
		</div>
	</div>

	<md-list ng-show="hasDownloads()">
		<md-subheader>Downloading files</md-subheader>
		<md-list-item class="md-3-line" ng-repeat="torrent in downloadTorrents">
			<div class="md-list-item-text">
				<h3>{{ torrent.name }}</h3>
				<md-progress-linear md-mode="determinate" ng-value="torrent.progress"></md-progress-linear>
				<ul ng-show="torrent.progress == 100">
					<li ng-repeat="file in torrent.files">
						<a target="_blank" download="{{file.name}}" ng-href="{{file.url}}" ng-bind="file.name"></a>
					</li>
				</ul>
			</div>
		</md-list-item>
	</md-list>
</div>
