<div ng-controller="downloadCtrl">
	<section class="md-whiteframe-z2 available-torrents" ng-show="userTorrents.length > 0">
		<md-toolbar>
			<h2 class="md-toolbar-tools">
				<span>Available files</span>
			</h2>
		</md-toolbar>
		<md-content>
			<md-list>
				<md-list-item class="md-3-line"
					ng-repeat="userTorrent in userTorrents">
					<div class="md-list-item-text">
						<h3 ng-bind="userTorrent.name"></h3>
						<p>
							<span
								ng-show="!userTorrent.isDownloaded"
								ng-click="download(userTorrent.infoHash)">
								Download
							</span>
							<md-progress-linear
								ng-show="userTorrent.isDownloading"
								md-mode="determinate"
								ng-value="userTorrent.progress">
							</md-progress-linear>
							<ul ng-show="userTorrent.isDownloaded">
								<li ng-repeat="file in userTorrent.files" class="file-preview">
									<div ng-switch on="getFileType(file)">
										<div ng-switch-when="image">
											<a target="_blank" download="{{file.name}}" ng-href="{{file.url}}" ng-alt="file.name">
												<img ng-src="{{file.url}}" ng-alt="file.name">
											</a>
										</div>
										<div ng-switch-when="video">
											<video controls="" ng-src="{{getTrustedUrl(file.url)}}"></video>
										</div>
										<div ng-switch-default>
											<a target="_blank" download="{{file.name}}" ng-href="{{file.url}}" ng-bind="file.name"></a>
										</div>
									</div>
								</li>
							</ul>
						</p>
						<md-divider ng-if="!$last"></md-divider>
					</div>
				</md-list-item>
			</md-list>
		</md-content>
	</section>
</div>
